.reclamacao{
    height:100px;
    width: 300px;
}
.cx-01{
    background-color: #FAEBD7;
    padding-bottom: 50px;
    padding-top: 50px;
    list-style-type: none;
}
.ajuda{
    background-color: #FAEBD7;
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 20px;
}