.cadastro{
    position:fixed;
    top: 150px;
    height: 400px;
    width: 300px;
    background: #2F4F4F;
    z-index: 5;
}
.cad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}